/* APPLICATION MAIN STYLING */

/************************************************************** Font Classes */

.century-gothic {
  font-family: 'Century Gothic';
}

/************************************************************ Flash Messages */

#message-top-display {
  margin-left: auto;
  margin-right: auto;
  left: 38%; /*Need to add responsiveness for smaller screens*/
  right: 38%;
  position: absolute;
  z-index: 1499;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 45px;
  padding: 12px;
}

.flash-messages li {
  list-style: none;
}

/***************************************************************** Navigation */

#alert-nav {
  padding-left: 5px;
  padding-right: 5px;
}

/************************************************************ Dashboard Page */

.dashboard-head h1 {
  margin-top: 5px;
  display: inline-block;
}

.budgets {
  margin: 10px 0px 20px 0px;
}

.budgets p {
  margin-bottom: 5px;
}

.recent-expenses {
  margin-top: 10px;
}

.recent-expenses th {
  padding: 5px 0px;
}

.recent-expenses td {
  min-width: 150px;
  padding: 3px 0px;
}


/****************************************************************** 404 Page */

.sad-404 {
  font-size: 300px;
}

.container-404 {
  background-color: tomato;
  height: 100vh;
}

.text-404 {
  width:500px;
  height:500px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-250px;
  margin-top:-250px;
}
