{% extends 'nav.html' %}

{% block content %}
  <h1>Dashboard</h1>

  <div class="recent-expenses">
    <h4>Recent Expenses</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><i class="fa fa-calendar"></i> Date</th>
          <th><i class="fa fa-building"></i> Merchant</th>
          <th><i class="fa fa-cubes"></i> Category</th>
          <th><i class="fa fa-dollar"></i> Cost</th>
          <th><i class="fa fa-user"></i> Creator</th>
          <th><i class="fa fa-align-justify"></i> Description</th>
        </tr>
      </thead>
      {% for expense in recent_expenses %}
        <tr>
          <td>{{ expense.date }}</td>
          <td>{{ expense.merchant }}</td>
          <td>{{ expense.category }}</td>
          <td>{{ '${:.2f}'.format(expense.cost / 100) }}</td>
          <td>{{ expense.creator.username }}</td>
          <td>{{ expense.description }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
